@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body {
  background-color: black;
  color: white;
  font-family: "Lexend", sans-serif;
}
.blur {
  top: 0rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 8%;
  z-index: 100;
}
.top-menu {
  display: flex;
  margin: 0 auto;
  gap: 1.3rem;
  background-color: rgb(124, 124, 124, 0.3);
  color: rgb(255, 255, 255, 0.5);
  border: 0.5px solid rgb(189, 189, 189, 0.5);
  position: fixed;
  z-index: 100;
  padding: 0.8rem;
  border-radius: 2rem;
  top: 1.2rem; 
  left: 37vw;
  opacity: 0;
  animation: FadeInFromTop 1.5s forwards;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2))
          drop-shadow(0 0 40px rgba(255, 255, 255, 0.3));
}
.top-menu-unit {
  transition: 0.1s;
} 
.top-menu-unit:hover {
  color: white;
  cursor: pointer;
}
.Title {
  font-size: 50px;
  text-align: center;
  cursor: url() 160 160, auto  ;
}

.App {
  background-color: #070707;
  color:  white;
  background-image: url('../public/space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App-opened {
  height: 120vh;
  background-color: #070707;
  color:  white;
  background-image: url('../public/space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Neon {
  background: white;
  width: 200px;
  height: 200px;
  position: fixed;
  opacity: 0.05;
  border-radius: 200px;
}
.Section1 {
  height: 100vh;
}
.Logo {
  width: 80px;
  transition: 0.4s;
}
.Logo:hover {
  transform: rotate(720deg);
}
.div-logo {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.hi {
  opacity: 0;
  animation: FadeInFromBottom 1s 0.2s forwards;
}
.flex-mynameandface {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.holder-aboutme {
  max-width: 50rem;
}
.myface {
  background-image: url('../public/picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 24rem;
  height: 38rem;
  border-radius: 168px;
  border: 3px solid #8213e2;
  opacity: 0;
  animation: FadeInFromRight 1s 0.5s forwards;
}
.flex-mynameandme {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.me {
  background-image: url('../public/hello.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  opacity: 0;
  animation: FadeInFromRight 1s 1s forwards;
}
.hand {
  background-image: url('../public/waving-hand.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: -28px;
  width: 50px;
  height: 50px;
  animation: hand 2s ease infinite;
}
.about-fold {
  background-image: url('../public/alien.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 80%;
  top: 2%;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.about-fold:hover {
  filter: invert(1);
}
.project-fold {
  background-image: url('../public/alien.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 80rem;
  top: 3rem;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.project-fold:hover {
  filter: invert(1);
}
.contact-fold{
  background-image: url('../public/alien.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 68%;
  top: 4rem;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.contact-fold:hover{
  filter: invert(1);
}
.about-hide {
  display: none;
}
.about-sentence-group {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 70vw;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.88);
  border-radius: 20px;
  padding: 2rem;
  backdrop-filter: blur(4px);
  z-index: 100;
  max-height: 80vh;
  overflow: scroll;
  scrollbar-width:unset;
  overflow-x: hidden;
  font-family: "Lexend", sans-serif;
}
.about-sentence-group::-webkit-scrollbar {
  
}
.about-title {
  font-size: 2rem;
  min-height: 20rem;
  margin-top: 12rem;
  margin-bottom: 15rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.about-title::before {
  inset: 0;
  position: absolute;
  content: "";
  background-size: cover;
  background-position: center;
  background-image: url('../public/coolbackgrounds-particles-ether.png');
  filter: opacity(0.5);
  z-index: -1;
}
.about-title-myname {
  font-size: 3rem;
  font-weight: 500;
  animation: colorchange 10s ease infinite, FadeInFromBottom 1s 0.4s forwards;
  margin-bottom: 2rem;
  opacity: 0;
}
.about-subtitle {
  font-size: 1.2rem;
  opacity: 0;
  animation: FadeInFromBottom 1s 0.8s forwards;
}
.about-letter-fullstack {
  animation: colorchange 10s ease infinite;
  font-weight: 500;
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.about-sentence {
  padding-top: 15px;
  padding: 4rem;
}
.about-sentence2 {
  padding-bottom: 4rem;
}
.about-titleAndLine-beyond {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.about-title-beyond {
  min-width: 23rem;
  font-weight: 600;
}
.about-title2-beyond {
  margin-top: 6rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 12rem;
  animation: FadeIn 2s forwards;
}
.about-beyond-holder {
  margin: 0 auto;
  width: 67%;
  margin-bottom: 18rem;
}
.about-beyond-flex {
  display: flex;
  gap: 5rem;
  animation: FadeIn 4s forwards;
}
.about-beyond-component-flex {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.about-beyond-subtitleNumber {
  font-size: 2rem;
  font-weight: 600;
}
.about-progressBar {
  max-width: 230px;
  height: 20px;
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  animation: bar 6s ease forwards;
}
.about-subtitle-beyond {
  font-size: 1.8rem;
}
.about-content-beyond {
  font-size: 1.2rem;
  max-width: 350px;
}
.about-holder-techstacks {
  margin-bottom: 17rem;
}
.about-holder-title-line {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  gap: 0.1rem;
  position: relative;
  z-index: 1;
  align-items: center;
}
.about-holder-title-line2 {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  gap: 0.1rem;
  position: relative;
  z-index: 1;
  align-items: center;
  padding: 4rem;
}
.line {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  width: 100%;
  height: 3px;
  margin-top: 0.6rem;
}
.about-title-line1 {
  font-size: 3rem;
  color: #4a00e0;
}
.about-title-line2 {
  font-size: 2.7rem;
  min-width: 17rem;
  font-weight: 600;
}
.about-title-line3 {
  font-size: 3rem;
  color: #4a00e0;
}
.about-title-line4 {
  font-size: 3rem;
  min-width: 14rem;
  font-weight: 600;
}
.about-techstacks-flex-holder {
  width: 100%;
  margin: 0 auto;
}
.about-techstacks-flex {
  display: flex;
  margin-top: 8rem;
}
.about-holder-frontend {
  width: 100%;
  height: 100%;
}
.about-title-techstacks {
  font-size: 2rem;
  width: 250px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.holder-techAndTools-icons {
  width: 409px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 38px;
}
.holder-frontend-icons {
  width: 260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px; 
  gap: 38px;
}
.holder-icon {
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  background-color: rgb(46, 4, 46);
  padding: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  animation: FadeInFromBottom 0.5s ease-out forwards;
}
.holder-frontend-icons .holder-icon:nth-child(1) {
  animation-delay: 0s;
}
.holder-frontend-icons .holder-icon:nth-child(2) {
  animation-delay: 0.2s;
}
.holder-frontend-icons .holder-icon:nth-child(3) {
  animation-delay: 0.4s;
}
.holder-frontend-icons .holder-icon:nth-child(4) {
  animation-delay: 0.6s;
}
.holder-backend-icons .holder-icon:nth-child(1) {
  animation-delay: 0.8s;
}
.holder-backend-icons .holder-icon:nth-child(2) {
  animation-delay: 1s;
}
.holder-backend-icons .holder-icon:nth-child(3) {
  animation-delay: 1.2s;
}
.holder-backend-icons .holder-icon:nth-child(4) {
  animation-delay: 1.4s;
}
.holder-backend-icons .holder-icon:nth-child(5) {
  animation-delay: 1.6s;
}
.holder-backend-icons .holder-icon:nth-child(6) {
  animation-delay: 1.8s;
}
.holder-backend-icons .holder-icon:nth-child(7) {
  animation-delay: 2.0s;
}
.holder-techAndTools-icons .holder-icon:nth-child(1) {
  animation-delay: 0s;
}
.holder-techAndTools-icons .holder-icon:nth-child(2) {
  animation-delay: 0.2s;
}
.holder-techAndTools-icons .holder-icon:nth-child(3) {
  animation-delay: 0.4s;
}
.holder-techAndTools-icons .holder-icon:nth-child(4) {
  animation-delay: 0.6s;
}
.holder-techAndTools-icons .holder-icon:nth-child(5) {
  animation-delay: 0.8s;
}
.holder-icon:hover {
  transform: scale(1.05);
  background-color: rgb(75, 58, 74);
}
.holder-backend-icons {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px; 
  gap: 38px;
  
}
.title-icon {
  font-weight: 500;
}
.html {
  margin: 0 auto;
  background-image: url('../public/html.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: skillsShow 1s 0.1s forwards;
}
.css {
  margin: 0 auto;
  background-image: url('../public/css.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.java {
  margin: 0 auto;
  background-image: url('../public/js.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.react {
  margin: 0 auto;
  background-image: url('../public/react.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-holder-backend {
  width: 100%;
}
.node {
  margin: 0 auto;
  background-image: url('../public/node-js.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.express {
  margin: 0 auto;
  background-image: url('../public/express.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mongodb {
  margin: 0 auto;
  background-image: url('../public/mongodb.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.render {
  margin: 0 auto;
  background-image: url('../public/render.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.restapi {
  margin: 0 auto;
  background-image: url('../public/database.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.router {
  margin: 0 auto;
  background-image: url('../public/router-svgrepo-com.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.jwt {
  margin: 0 auto;
  background-image: url('../public/jwt.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-holder-techtools {
  margin-top: 15rem;
}
.vs {
  margin: 0 auto;
  background-image: url('../public/vs.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.git {
  margin: 0 auto;
  background-image: url('../public/social.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.github {
  margin: 0 auto;
  background-image: url('../public/github.png');
  filter: invert(1);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.netlify {
  margin: 0 auto;
  background-image: url('../public/netlify.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bootstrap {
  margin: 0 auto;
  background-image: url('../public/bootstrap.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-container-experience {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 100%;
  margin-bottom: 10rem;
}
.about-line-experience {
  height: 80rem;
  width: 0.4rem;
  border-radius: 30px;
  
  background-color: aliceblue;
  display: inline-block;
  animation: experienceBar 1s ease forwards;
}
.about-holder-content-experience {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 92%;
  margin-left: 3%;
}
.about-holder-contentAndIcon-experience {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about-titleAndSubtitle-experience {
  animation: FadeInFromLeft 2s forwards;
}
.invisible {
  opacity: 0;
}
.about-date-experience {
  margin-bottom: 0.5rem;
}
.about-title-experience {
  font-size: 2rem;
  color: rgb(252, 252, 252, 0.9);
  margin-bottom: 1rem;
}
.about-subtitle-experience {
  font-size: 1.2rem;
  color: rgb(252, 252, 252, 0.6);
}
.onair {
  margin: 0 auto;
  background-image: url('../public/on-air.png');
  min-width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  animation: onAir 2s forwards;
}
.onair-red {
  background-color: red;
  min-width: 0.7rem;
  min-height: 0.7rem;
  border-radius: 100rem;
  animation: onAir-red 3s infinite;
}
.checked {
  margin: 0 auto;
  background-image: url('../public/check-mark.png');
  min-width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: experienceIconShake 2s forwards;
}

.skills-group {
  width: 10%;
  background: rgba(101, 101, 101, 0.5);
  position: absolute;
  top: 10%;
  left: 50%;
  border-radius: 18px;
  z-index: 10;
  text-align: center;
  padding: 5px;
}
.skills-title {
  font-size: 30px;
  font-weight: 700;
}
.skills-ul {
  list-style: none;
  padding-left: 0;
}
.skills-units:hover {
  
}
.holder-projects {
  align-items: center;
  display: flex;
  top: 10%;
  left: 15%;
  min-height: 39%;
  width: 75rem;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 50px;
  backdrop-filter: blur(4px);
  z-index: 100;
  position: absolute;
}
.button-previous {
  z-index: 101;
  background-image: url('../public/arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  filter: invert(1);
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.1s;
}
.button-previous:hover {
  filter: invert(0.4);
}
.slides-wrapper {
  width: 65rem;
  overflow: hidden;
  background-color: rgba(37, 37, 37, 0.5);
  
}
.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.slide {
  min-width: 64rem;
  height: 100%;
}
.title-project {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  opacity: 0;
  animation: colorchange 10s ease infinite ,FadeInFromBottom 1s 0.2s forwards;
  margin-bottom: 0.5rem;
}
.rightsection-project1 {
  margin-bottom: 0.5rem;
}
.text-project {
  text-align: center;
  padding-bottom: 1rem;
  min-height: 3.3rem;
  max-width: 50rem;
  margin: 0 auto;
}
.holder-picture-project {
  position: relative;
  
  width: 63.7rem;
  height: 30rem;
  transition: 0.2s;
}
.holder-picture-project::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  transition: 0.5s;
  
}
.holder-picture-project:hover::before {
  background: rgba(0, 0, 0, 0.6);
}
.liveAndGit-button {
  display: flex;
  gap: 10rem;
  align-items: center;
  position: relative;
  top: 50%;
  left: 31%;
}
.frontBackAndGit-button {
  display: flex;
  gap: 12rem;
  align-items: center;
  position: relative;
  top: 46%;
  left: 26%;
}
.live-button {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  position: relative;
  font-size: 1.5rem;
  padding: 0.5rem 2.2rem;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s;
  margin-bottom: 1.1rem;
}
.live-button:hover {
  background: linear-gradient(135deg, #9c4de2, #5c1fd8);
  border: 1px solid rgb(255, 255, 255);
}
.holder-backendAndFrontend {
  position: relative;
}
.frontend-button {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  position: relative;
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s;
  width: 7rem;
}
.backend-button {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  position: relative;
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s;
  width: 7rem;
  margin-bottom: 0.4rem;
}
.frontend-button:hover, .backend-button:hover {
  background: linear-gradient(135deg, #9c4de2, #5c1fd8);
  border: 1px solid rgb(255, 255, 255);
}
.flex-liveandgit {
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  display: flex;
  gap: 2rem;
  opacity: 0;
  animation: FadeIn 1s 0.6s forwards;
}
.livewebsite {
  display: inline-block;
}
.gitwebsite {
  display: inline-block;
}
.holder-git-button {
  width: 2rem;
  background:rgb(190, 190, 190);
  position: relative;
  z-index: 2;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.5rem 2.8rem;
}
.holder-git-button:hover {
  background:rgb(214, 214, 214);
  border: 1px solid rgb(255, 255, 255);
}
.git-button {
  background-image: url('../public/github.png');
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}
.gap {
  margin-top: 6rem;
}

.css-skill {
  font-size: 16px;
  background-color: rgb(70, 68, 57);
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 4px 12px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.08s ease-in-out;
}
.css-skill:hover {
  border: 1px solid rgb(148, 126, 0);
  background-color: rgb(105, 103, 37);
  transform: scale(1.15);
}
#live {
  color: white;
  text-decoration: none;
}
#git {
  color: white;
  text-decoration: none;
}
#git:hover {
  text-decoration: underline;
}
.content-project1 {
  font-size: 25px;
}
.button-next {
  z-index: 101;
  background-image: url('../public/arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  filter: invert(1);
  cursor: pointer;
  transition: 0.1s;
}
.button-next:hover {
  filter: invert(0.4);
}
.holder-project-skills-project1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
  align-items: center;
  opacity: 0;
  animation: FadeIn 1s 0.7s forwards;
}
.flex-project-skills-project1 {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.holder-project-skills-project2 {
  margin-bottom: 0.5rem;
  justify-content: center;
  display: flex;
  max-width: 37rem;
  height: 2rem;
  gap: 20px;
  align-items: center;
  opacity: 0;
  animation: FadeIn 1s 0.7s forwards;
}
.holder-project-skills-project3 {
  display: flex;
  margin: 0 auto;
  max-width: 25rem;
  height: 2rem;
  gap: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: FadeIn 1s 0.7s forwards;
  margin-bottom: 0.5rem;
}
.holder-project-skills {
  display: flex;
  margin: 0 auto;
  max-width: 20rem;
  height: 2rem;
  gap: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: FadeIn 1s 0.7s forwards;
}
.holder-contact {
  font-size: 20px;
  margin-top: 6rem;
  margin-bottom: 5rem;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 50px;
  padding: 25px;
  backdrop-filter: blur(4px);
}
.name-contact {
  font-size: 50px;
  font-weight: 600;
  padding: 10px;
}
.flex-contact-whole {
  display: flex;
  gap: 5%;
  margin: 0 auto;
  max-width: 70rem;
  align-items: center;
}
.flex-contact {
  display: flex;
  flex-direction: column;
}
.finger {
  background-image: url('../public/finger.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 30rem;
  min-width: 30rem;
  max-height: 30rem;
  min-height: 30rem;
  margin-top: 11rem;
}
.email {
  width: 15rem;
  height: 2vw;
  border-style: none;
  padding: 13px;
  border-radius: 25px;
  font-size: 20px;
  background: rgba(63, 63, 63, 0.5);
  color: white;
  margin: 5px;
}
.content {
  height: 30vh;
  min-width: 35rem;
  border-style: none;
  padding: 13px;
  border-radius: 25px;
  font-size: 30px;
  background: rgba(63, 63, 63, 0.5);
  color: white;
  margin: 5px;
  resize: none;
}
.holder-check {
  background: none;       
  border: none;           
  padding: 0;                   
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 6rem;
  margin-left: 13rem;
  margin-top: 8rem;
  animation: Floating 3s infinite;
}
.check {
  all: unset; 
  cursor: pointer;
  background-image: url('../public/check.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 20rem;
  box-shadow: -2px 1px 43px 7px rgba(184,0,250,1);
  -webkit-box-shadow: -2px 1px 43px 7px rgba(184,0,250,1);
  -moz-box-shadow: -2px 1px 43px 7px rgba(184,0,250,1);
}
.check:hover {
  filter: brightness(1.2);
}
.burger {
  display: none;
  position: absolute;
  background-image: url('../public/burger-bar.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  right: 1rem;
  filter: invert(1);
  cursor: pointer;
  z-index: 2;
}
.Top-tag-group{
  font-family: "Bungee Inline", sans-serif;
  text-align: right;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 2%;
  top: 10%;
}
.Top-tag-group-opened {
  background: #1b1b1b;
  font-family: "Bungee Inline", sans-serif;
  padding-bottom: 1rem;
  text-align: right;
  padding-right: 1rem;
}
.Top-tag0{
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 3px;
}
.Top-tag1{
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  padding-bottom: 3px;
}
.Top-tag2{
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  padding-bottom: 3px;
}
.Top-tag3{
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
}
.close {
  display: none;
}
.close-opened {
  background-image: url('../public/close.png');
  width: 30px;
  height: 30px;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  cursor: pointer;
  margin-left: 92vw;
  margin-top: 1rem;
}
.close-opened:hover {
  filter: invert(0.5);
}
.Top-tag0:hover, .Top-tag1:hover, .Top-tag2:hover, .Top-tag3:hover {
  color: rebeccapurple;
}
.copyRight {
  position: absolute;
  top: 80%;
  color: rgb(255, 255, 255, 0.4);
}
.popup-nameAndImg-github {
  display: flex;
  max-width: 7rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  
}
.popup-name {
  display: none;
  font-size: 13px;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  position: absolute;
  right: -1rem;
  bottom: 40px;
  animation: FadeInFromBottom 0.2s forwards;
}
.popup-name-linkedin {
  display: none;
  font-size: 13px;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  position: absolute;
  right: -1.3rem;
  bottom: 40px;
  animation: FadeInFromBottom 0.2s forwards;
}
.bottomgit {
  margin: 0 auto;
  background-image: url('../public/github.png');
  width: 30px;
  height: 30px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  transition: 0.2s;
}
.bottomgit:hover {
  transform: scale(1.2) translateY(-0.6rem);
}
.bottomgit:hover .popup-name {
  display: inline-block;
}
.bottomLinkedin {
  margin: 0 auto;
  background-image: url('../public/linkedin.png');
  width: 30px;
  height: 30px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  transition: 0.2s;
}
.bottomLinkedin:hover {
  transform: scale(1.2) translateY(-0.6rem);
}
.bottomLinkedin:hover .popup-name-linkedin {
  display: inline-block;
}
.Body-title1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
}
.About {
  background-color: rgb(123, 188, 188);
  color: #070707;
  border-radius: 20px;
  padding: 10px;
  
}
.Project {
  
  margin-top: 150px;
  background-color:rgb(83, 80, 77);
  height: 700px;
}
.rab {
  
}
.holder-project {
  display: flex;
  max-width: 65vw;
  margin: 0 auto;
  gap: 5vw;
  margin-bottom: 10rem;
}
.ex-project {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  opacity: 0;
  animation: FadeInFromBottom 1s 0.3s forwards;
}
.subsubtitle-project1 {
  opacity: 0;
  animation: FadeInFromBottom 1s 0.4s forwards;
}
.subsubtitle-project2 {
  opacity: 0;
  animation: FadeInFromBottom 1s 0.5s forwards;
}
.subsubtitle-project3 {
  opacity: 0;
  animation: FadeInFromBottom 1s 0.6s forwards;
}
.gitwebsite {
  margin-bottom: 1rem;
}
.holder-project-explanation {
  width: 35rem;
}
.starandsentence {
  display: flex;
  gap: 0.5rem;
  font-size: 1.1rem;
}
.star {
  background-image: url('../public/star.png');
  background-size:cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) hue-rotate(270deg) saturate(300%);
}
.warning {
  margin-top: 1rem;
  opacity: 0;
  animation: FadeInFromBottom 1s 0.65s forwards;
  color: rgb(255, 54, 54);
}
.picture-project1 {
  background-image: url('../public/loopmarket-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 35rem;
  min-width: 35rem;
  height: 30rem;
  max-height: 30rem;
  cursor: pointer;
  opacity: 0;
  animation: FadeInFromLeft 1s 0.1s forwards;
}
.picture-project2 {
  background-image: url('../public/recipe.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 35rem;
  min-width: 35rem;
  height: 30rem;
  max-height: 30rem;
  cursor: pointer;
  opacity: 0;
  animation: FadeInFromLeft 1s 0.1s forwards;
}
.picture-project3 {
  background-image: url('../public/space.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 35rem;
  min-width: 35rem;
  height: 30rem;
  max-height: 30rem;
  cursor: pointer;
  opacity: 0;
  animation: FadeInFromLeft 1s 0.1s forwards;
}
.picture-project4 {
  background-image: url('../public/netflix.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 35rem;
  min-width: 35rem;
  height: 30rem;
  max-height: 30rem;
  cursor: pointer;
  opacity: 0;
  animation: FadeInFromLeft 1s 0.1s forwards;
}
.picture-project5 {
  background-image: url('../public/calculator.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 35rem;
  min-width: 35rem;
  height: 30rem;
  max-height: 30rem;
  cursor: pointer;
  opacity: 0;
  animation: FadeInFromLeft 1s 0.1s forwards;
}
.Body-title2 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
}
.holder-bottom1 {
  border-top: 1px solid rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
  padding: 3rem;
}
.icon {
  background-image: url('../public/icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  animation: Floating 3s infinite;
}
.mini-aboutme {
  width: 14rem;
  height: 2rem;
}
.gray-text {
  color: gray;
}
.bottom-section-word {
  cursor: pointer;
  transition: 0.2s;
}
.bottom-section-word:hover {
  transform: scale(1.1);
}
.holder-bottom2 {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 10rem;
  align-items: center;
}
.holder-icons {
  display: flex;
  gap: 1rem;
}
.wrapper-nameAndIcon {
  position: relative;
}
.hiddenname {
  color: white;
  position: absolute;
  bottom: 2.5rem;
  right: -0.6rem;
  display: none;
}
.wrapper-nameAndIcon:hover .hiddenname{
  display: block;
}
.bottom-github {
  background-image: url('../public/github.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
.bottom-github:hover {
  transform: scale(1.2);
}
.bottom-linkedin {
  background-image: url('../public/linkedin.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
.bottom-linkedin:hover {
  transform: scale(1.2);
}
.bottom-indeed {
  background-image: url('../public/indeed.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
.bottom-indeed:hover {
  transform: scale(1.2);
}
.copyright {
  padding-left: 2rem;
}
@keyframes colorchange {
  0%   { color: #a020f0; } 
  25%  { color: #d16ba5; } 
  50%  { color: #b57edc; } 
  75%  { color: #6a0dad; } 
  100% { color: #a020f0; } 
}
@keyframes Floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes FadeDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes skillsShow {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes experienceBar {
  0% {
    height: 0;
  }
  100% {
    height: 50rem;
  }
}
@keyframes onAir {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes onAir-red {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes experienceIconShake {
  0% {
    transform: scale(0.1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bottomWide {
  0% {
    transform: scaleY(20px);
    width: 50px;
    left: calc(50% - 50px); 
    opacity: 0;
  }
  100% {
    transform: scaleY(0px);
    width: 500px;
    left: calc(50% - 250px);  
    opacity: 0.65;
  }
}
@keyframes hand {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes bugSpin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        
        transform: rotate(360deg) scale(1.4);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}
@media (max-width: 1360px){
  .picture-project1 {
    max-width: 25rem;
    min-width: 25rem;
  }
  .picture-project2 {
    max-width: 25rem;
    min-width: 25rem;
  }
  .picture-project3 {
    max-width: 25rem;
    min-width: 25rem;
  }
  .picture-project4 {
    max-width: 25rem;
    min-width: 25rem;
  }
  .picture-project5 {
    max-width: 25rem;
    min-width: 25rem;
  }
}
@media (max-width: 1360px){
  .top-menu {
    left: 32%;
  }
  .finger {
    max-width: 28rem;
    min-width: 28rem;
    max-height: 20rem;
    min-height: 20rem;
  }
  .flex-contact-whole {
    align-items: center;
    justify-content: center;
  }
  .holder-check {
    width: 11rem;
    margin-left: 12rem;
    margin-top: 7rem;
  }
  .check {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1300px){
  .about-subtitle {
    max-width: 40rem;
  }
}
@media (max-width: 1200px){
  .top-menu-unit {
    font-size: 0.8rem;
  }


  .hi {
    font-size: 1.3rem;
  }
  .about-title-myname {
    font-size: 1.7rem;
  }
  .flex-mynameandme {
    gap: 1rem;
  }
  .me {
    width: 50px;
    height: 50px;
  }
  .hand {
    width: 25px;
    height: 25px;
    left: -16px;
  }
  .about-subtitle {
    font-size: 1rem;
  }
  .myface {
    width: 16rem;
    height: 26rem;
  }
  .name-contact {
    font-size: 30px;
  }

  .about-title-line1 {
    font-size: 2rem;
  }
  .about-title-line2 {
    font-size: 2rem;
    min-width: 13rem;
  }
  .about-title-line4 {
    font-size: 2rem;
    min-width: 9rem;
  }
  .about-title-beyond {
    font-size: 2rem;
    min-width: 15rem;
  }
  .about-title2-beyond {
    font-size: 1.1rem;
  }
  .about-title-line3 {
    font-size: 2rem;
  }
  .about-beyond-subtitleNumber {
    font-size: 1.2rem;
  }
  .about-progressBar {
    max-width: 170px;
    height: 11px;
  }
  .about-subtitle-beyond {
    font-size: 1.4rem;
  }
  .about-content-beyond {
    font-size: 1rem;
  }
  .content {
    min-width: 25rem;
    font-size: 20px;
  }

  .about-title-techstacks {
    font-size: 1.2rem;
  }
  .holder-frontend-icons {
    gap: 8px;
    width: 200px;
  }
  .holder-backend-icons {
    gap: 8px;
    width: 305px;
  }
  .holder-techAndTools-icons {
    gap: 8px;
    width: 315px;
  }
  .holder-icon {
    width: 70px;
    height: 70px;
  }
  .title-icon {
    font-size: 0.8rem;
  }
  .html {
    width: 40px;
    height: 40px;
  }
  .css {
    width: 40px;
    height: 40px;
  }
  .java {
    width: 40px;
    height: 40px;
  }
  .react {
    width: 40px;
    height: 40px;
  }
  .node {
    width: 40px;
    height: 40px;
  }
  .express {
    width: 40px;
    height: 40px;
  }
  .mongodb {
    width: 40px;
    height: 40px;
  }
  .render {
    width: 40px;
    height: 40px;
  }
  .restapi {
    width: 40px;
    height: 40px;
  }
  .router {
    width: 40px;
    height: 40px;
  }
  .jwt {
    width: 40px;
    height: 40px;
  }
  .vs {
    width: 40px;
    height: 40px;
  }
  .git {
    width: 40px;
    height: 40px;
  }
  .github {
    width: 40px;
    height: 40px;
  }
  .netlify {
    width: 40px;
    height: 40px;
  }
  .bootstrap {
    width: 40px;
    height: 40px;
  }

  .about-container-experience {
    margin-top: 2rem;
  }
  .about-title-experience {
    font-size: 1.3rem;
  }
  .about-date-experience {
    font-size: 0.8rem;
  }
  .about-subtitle-experience {
    font-size: 1rem;
  }
  .onair-red {
    min-width: 0.5rem;
    min-height: 0.5rem;
  }
  .onair {
    min-width: 70px;
    height: 70px;
  }
  .checked {
    min-width: 70px;
    height: 70px;
  }
  .about-line-experience {
    width: 0.3rem;
  }


  .title-project {
    font-size: 30px
  }
  .ex-project {
    font-size: 1rem;
  }
  .star {
    width: 15px;
    height: 15px;
  }
  .starandsentence {
    font-size: 0.9rem;
    align-items: center;
    margin-bottom: 0.1rem;
  }
  .backend-button {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
  }
  .frontend-button {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
  }
  .flex-liveandgit {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .holder-git-button {
    padding: 0.3rem 2.2rem;
  }
  .git-button {
    width: 25px;
    height: 25px;
    margin-left: 0.2rem;
  }
  .css-skill {
    font-size: 10px;
  }
  .flex-project-skills-project1 {
    gap: 0.5rem;
  }
  .live-button {
    font-size: 1rem;
  }
  .holder-project-skills-project2 {
    gap: 0.5rem;
    margin-bottom: 0;
  }
  .holder-project-skills-project3 {
    gap: 0.5rem;
  }
  .holder-project-skills {
    gap: 0.5rem;
  }



  .icon {
    width: 3rem;
    height: 3rem;
  }
  .mini-aboutme {
    font-size: 0.8rem;
    width: 10rem;
  }
  .gray-text {
    font-size: 0.8rem;
  }
  .bottom-section-word {
    font-size: 0.7rem;
  }
  .holder-bottom2 {
    padding-left: 5rem;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .bottom-github {
    width: 1.5rem;
    height: 1.5rem;
  }
  .bottom-indeed {
    width: 1.5rem;
    height: 1.5rem;
  }
  .bottom-linkedin {
    width: 1.5rem;
    height: 1.5rem;
  }
  .hiddenname {
    bottom: 1.8rem;
    right: -0.5rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 1150px){
  .title-project {
    font-size: 30px;
  }
  .ex-project {
    font-size: 1rem;
  }
  .starandsentence {
    font-size: 0.8rem;
  }
  .backend-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .frontend-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .live-button {
    font-size: 1rem;
  }
  .flex-liveandgit {
    margin-bottom: 1.2rem;
    margin-top: 2rem;
  }
  .warning {
    font-size: 0.8rem;
  }
  .holder-git-button {
    padding: 0.3rem 2rem;
  }
  .css-skill {
    font-size: 12px;
  }
  .flex-project-skills-project1 {
    gap: 0.5rem;
  }
  .holder-project-skills-project1 {
    gap: 0.5rem;
  }
  .holder-project-skills-project2 {
    gap: 0.5rem;
  }
  .holder-project-skills-project3 {
    gap: 0.5rem;
  }
  .holder-project-skills {
    gap: 0.5rem;
  }
}
@media (max-width: 1050px){
  .about-subtitle {
    max-width: 30rem;
  }
  .picture-project1 {
    max-width: 20rem;
    min-width: 20rem;
  }
  .picture-project2 {
    max-width: 20rem;
    min-width: 20rem;
  }
  .picture-project3 {
    max-width: 20rem;
    min-width: 20rem;
  }
  .picture-project4 {
    max-width: 20rem;
    min-width: 20rem;
  }
  .picture-project5 {
    max-width: 20rem;
    min-width: 20rem;
  }
}
@media (max-width: 1000px){
  .top-menu {
    left: 28%;
  }
  .about-content-beyond {
    font-size: 0.8rem;
  }
  .finger {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 18rem;
    min-height: 18rem;
  }
  .email {
    width: 12rem;
    font-size: 15px;
  }
  .content {
    min-width: 18rem;
    font-size: 15px;
  }
  .holder-check {
    width: 3rem;
    margin-left: 8rem;
    margin-top: 5rem;
  }
  .about-beyond-holder {
    width: 78%;
  }
}
@media (max-width: 900px){
  .holder-project {
    max-width: 75vw;
  }
  .picture-project1 {
    max-width: 17rem;
    min-width: 17rem;
  }
  .picture-project2 {
    max-width: 17rem;
    min-width: 17rem;
  }
  .picture-project3 {
    max-width: 17rem;
    min-width: 17rem;
  }
  .picture-project4 {
    max-width: 17rem;
    min-width: 17rem;
  }
  .picture-project5 {
    max-width: 17rem;
    min-width: 17rem;
  }
}
@media (max-width: 850px){
  .top-menu {
    left: 24%;
  }
  .myface {
    width: 14rem;
    height: 20rem;
  }
  .about-beyond-holder {
    width: 88%;
  }
}
@media (max-width: 750px){
  .top-menu-unit {
    font-size: 0.7rem;
    
  }


  .hi {
    font-size: 1rem;
  }
  .about-title-myname {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .flex-mynameandme {
    gap: 1rem;
  }
  .me {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
  }
  .hand {
    width: 15px;
    height: 15px;
    left: -9px;
  }
  .about-subtitle {
    font-size: 0.8rem;
  }
  .myface {
    width: 12rem;
    height: 15rem;
    border: 1px solid #8213e2;
  }
  .name-contact {
    font-size: 30px;
  }
  .about-title {
    margin-bottom: 7rem;
  }
  .about-title-line1 {
    font-size: 1.5rem;
  }
  .about-title-line2 {
    font-size: 1.2rem;
    min-width: 8rem;
  }
  .about-title-line4 {
    font-size: 2rem;
    min-width: 9rem;
  }
  .about-title-beyond {
    font-size: 1.2rem;
    min-width: 9rem;
  }
  .about-title2-beyond {
    font-size: 0.8rem;
    margin-bottom: 5rem;
    margin-top: 0;
  }
  .about-title-line3 {
    font-size: 1.5rem;
  }
  .about-title-line4 {
    font-size: 1.2rem;
    min-width: 6rem;
  }
  .about-beyond-subtitleNumber {
    font-size: 1rem;
  }
  .about-progressBar {
    max-width: 170px;
    height: 11px;
  }
  .about-subtitle-beyond {
    font-size: 1.1rem;
  }
  .about-content-beyond {
    font-size: 0.7rem;
  }
  .content {
    min-width: 25rem;
    font-size: 20px;
  }
  .about-techstacks-flex {
    margin-top: 4rem;
  }
  .about-title-techstacks {
    font-size: 1rem;
  }
  .holder-frontend-icons {
    gap: 4px;
    width: 157px;
    grid-template-columns: 78px 78px;
    grid-template-rows: 75px 75px;
  }
  .holder-backend-icons {
    gap: 8px;
    width: 230px;
    grid-template-columns: 72px 72px 72px;
    grid-template-rows: 72px 72px;
  }
  .holder-techAndTools-icons {
    gap: 8px;
    width: 236px;
    grid-template-columns: 72px 72px 72px;
    grid-template-rows: 72px 72px;
  }
  .about-holder-techtools {
    margin-top: 10rem;
  }
  .about-holder-techstacks {
    margin-bottom: 12rem;
  }
  .holder-icon {
    width: 50px;
    height: 50px;
  }
  .title-icon {
    font-size: 0.6rem;
  }
  .html {
    width: 25px;
    height: 25px;
  }
  .css {
    width: 25px;
    height: 25px;
  }
  .java {
    width: 25px;
    height: 25px;
  }
  .react {
    width: 25px;
    height: 25px;
  }
  .node {
    width: 25px;
    height: 25px;
  }
  .express {
    width: 25px;
    height: 25px;
  }
  .mongodb {
    width: 25px;
    height: 25px;
  }
  .render {
    width: 25px;
    height: 25px;
  }
  .restapi {
    width: 25px;
    height: 25px;
  }
  .router {
    width: 25px;
    height: 25px;
  }
  .jwt {
    width: 25px;
    height: 25px;
  }
  .vs {
    width: 25px;
    height: 25px;
  }
  .git {
    width: 25px;
    height: 25px;
  }
  .github {
    width: 25px;
    height: 25px;
  }
  .netlify {
    width: 25px;
    height: 25px;
  }
  .bootstrap {
    width: 25px;
    height: 25px;
  }


  .about-holder-content-experience {
    margin-top: 1rem;
  }
  .about-container-experience {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .about-title-experience {
    font-size: 1.1rem;
  }
  .about-date-experience {
    font-size: 0.7rem;
  }
  .about-subtitle-experience {
    font-size: 0.8rem;
  }
  .onair-red {
    min-width: 0.3rem;
    min-height: 0.3rem;
  }
  .onair {
    min-width: 50px;
    height: 50px;
  }
  .checked {
    min-width: 50px;
    height: 50px;
  }
  .about-line-experience {
    width: 0.2rem;
  }




  .picture-project1 {
    height: 25rem;
    max-width: 15rem;
    min-width: 15rem;
  }
  .picture-project2 {
    height: 25rem;
    max-width: 15rem;
    min-width: 15rem;
  }
  .picture-project3 {
    height: 25rem;
    max-width: 15rem;
    min-width: 15rem;
  }
  .picture-project4 {
    height: 25rem;
    max-width: 15rem;
    min-width: 15rem;
  }
  .picture-project5 {
    height: 25rem;
    max-width: 15rem;
    min-width: 15rem;
  }
  .holder-project {
    margin-bottom: 4rem;
  }
  .about-holder-title-line2 {
    padding-bottom: 0;
  }
  .title-project {
    font-size: 20px
  }
  .ex-project {
    font-size: 0.7rem;
  }
  .star {
    width: 10px;
    height: 10px;
  }
  .warning {
    font-size: 0.7rem;
  }
  .starandsentence {
    font-size: 0.7rem;
    align-items: center;
    margin-bottom: 0.1rem;
  }
  .backend-button {
    font-size: 0.7rem;
    padding: 0.3rem 0rem;
    text-align: center;
  }
  .frontend-button {
    font-size: 0.7rem;
    padding: 0.3rem 0rem;
    text-align: center;
  }
  .flex-liveandgit {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .holder-git-button {
    padding: 0.3rem 1.8rem;
  }
  .git-button {
    width: 18px;
    height: 18px;
    margin-left: 0.4rem;
  }
  .css-skill {
    font-size: 7px;
  }
  .flex-project-skills-project1 {
    gap: 0.3rem;
    margin-bottom: 0rem;
  }
  .live-button {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
  .gitwebsite {
    margin-bottom: 0;
  }
  .holder-project-skills-project2 {
    gap: 0.5rem;
    margin-bottom: 0;
    height: 1.5rem;
  }
  .holder-project-skills-project3 {
    gap: 0.5rem;
    height: 1.2rem;
  }
  .holder-project-skills {
    gap: 0.5rem;
  }

  

  .holder-contact {
    margin-top: 0;
  }
  .name-contact {
    font-size: 20px;
  }
  .email {
    width: 10rem;
    font-size: 11px;
  }
  .content {
    min-width: 15rem;
    font-size: 12px;
  }
  .holder-check {
    margin-left: 8rem;
    margin-top: 5rem;
  }
  .check {
    width: 25px;
    height: 25px;
  }
  .finger {
    margin-top: 0rem;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 10rem;
    min-height: 10rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }
  .mini-aboutme {
    font-size: 0.6rem;
    width: 7rem;
  }
  .gray-text {
    font-size: 0.6rem;
  }
  .bottom-section-word {
    font-size: 0.5rem;
  }
  .holder-bottom2 {
    padding-left: 4rem;
  }
  .copyright {
    font-size: 0.6rem;
  }
  .holder-icons {
    gap: 0.5rem;
  }
  .bottom-github {
    width: 1.1rem;
    height: 1.1rem;
  }
  .bottom-indeed {
    width: 1.1rem;
    height: 1.1rem;
  }
  .bottom-linkedin {
    width: 1.1rem;
    height: 1.1rem;
  }
  .hiddenname {
    font-size: 0.5rem;
    right: -0.3rem;
    bottom: 1.4rem;
  }
}
@media (max-width: 700px){
  .top-menu {
    left: 22%;
  }
  .about-beyond-flex {
    gap: 1.5rem;
  }
}
@media (max-width: 650px){
  .myface {
    width: 13rem;
    height: 13rem;
  }
  .about-title-line2 {
    padding-left: 0.5rem;
  }
  .about-techstacks-flex {
    display: block;
  }
  .about-holder-frontend {
    margin-bottom: 4rem;
  }
}
@media (max-width: 600px){
  .top-menu {
    left: 18%;
  }


  .about-subtitle {
    font-size: 0.6rem;
  }
  .picture-project1 {
    height: 20rem;
    max-width: 12rem;
    min-width: 12rem;
  }
  .picture-project2 {
    height: 20rem;
    max-width: 12rem;
    min-width: 12rem;
  }
  .picture-project3 {
    height: 20rem;
    max-width: 12rem;
    min-width: 12rem;
  }
  .picture-project4 {
    height: 20rem;
    max-width: 12rem;
    min-width: 12rem;
  }
  .picture-project5 {
    height: 20rem;
    max-width: 12rem;
    min-width: 12rem;
  }



  .email {
    width: 7rem;
  }
  .content {
    min-width: 11rem;
  }
  .finger {
    max-width: 14rem;
    min-width: 14rem;
  }
  .holder-check {
    margin-left: 6rem;
    margin-top: 4rem;
  }
  .holder-bottom1 {
    margin-bottom: 2rem;
  }
  .about-sentence2 {
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 550px){
  .top-menu {
    left: 14%;
  }
  .flex-mynameandface {
    gap: 1rem;
  }
  .about-title-myname {
    font-size: 1.2rem;
  }
  .about-subtitle {
    font-size: 0.4rem;
  }
  .myface {
    width: 17rem;
  }
  .about-title2-beyond {
    font-size: 0.6rem;
  }
  .about-beyond-flex {
    display: block;
    padding-left: 0.5rem;
  }
  .about-beyond-component-flex {
    margin-bottom: 3rem;
  }
  .about-content-beyond {
    max-width: 15rem;
  }
  .about-subtitle-experience {
    font-size: 0.6rem;
  }



  .holder-project {
    display: block;
    margin-bottom: 6rem;
  }
  .holder-project-explanation {
    width: 20rem;
    margin: 0 auto;
  }
  .picture-project1 {
    margin: 0 auto;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 12rem;
  }
  .picture-project2 {
    margin: 0 auto;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 12rem;
  }
  .picture-project3 {
    margin: 0 auto;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 12rem;
  }
  .picture-project4 {
    margin: 0 auto;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 12rem;
  }
  .picture-project5 {
    margin: 0 auto;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 12rem;
  }
  .holder-bottom1 {
    padding: 1rem;
  }
  .holder-bottom2 {
    padding-right: 5rem;
    padding-left: 1rem;
  }
}
@media (max-width: 500px){
  .top-menu {
    padding: 0.6rem;
    left: 18%;
  }
  .top-menu-unit {
    font-size: 0.5rem;
  }
  .about-sentence {
    padding: 2rem;
  }
  .about-holder-title-line2 {
    padding: 2rem;
  }
  .email {
    font-size: 8px;
    width: 5rem;
  }
  .content {
    font-size: 8px;
    min-width: 8rem;
    height: 16vh;
  }
  .name-contact {
    font-size: 13px;
  }
  .finger {
    max-width: 10rem;
    min-width: 10rem;
    margin-top: 5rem;
  }
  .holder-check {
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .icon {
    width: 1rem;
    height: 1rem;
  }
  .mini-aboutme {
    font-size: 0.4rem;
    width: 5rem;
  }
}
@media (max-width: 450px){
  .top-menu {
    left: 15%;
  }
  .me {
    width: 23px;
    height: 23px;
  }
  .myface {
    width: 12rem;
    height: 9rem;
  }
  .about-title-experience {
    font-size: 0.8rem;
  }
  .about-date-experience {
    font-size: 0.5rem;
  }
  .about-subtitle-experience {
    font-size: 0.5rem;
  }
  .about-holder-content-experience {
    margin-left: 1.2rem;
  }
  .about-holder-contentAndIcon-experience {
    gap: 1rem;
  }
  .holder-project-explanation {
    width: 15rem;
  }
  .title-project {
    font-size: 15px;
  }
  .ex-project {
    font-size: 0.5rem;
  }
  .starandsentence {
    font-size: 0.5rem;
  }
  .warning {
    font-size: 0.5rem;
  }
  .backend-button {
    font-size: 0.5rem;
    width: 5rem;
  }
  .frontend-button {
    font-size: 0.5rem;
    width: 5rem;
  }
  .holder-git-button {
    padding: 0.3rem 1.3rem;
  }
  .git-button {
    width: 12px;
    height: 12px;
    margin-left: 0.6rem;
  }
  .live-button {
    font-size: 0.5rem;
    padding: 0.35rem 2rem;
  }
  .css-skill {
    font-size: 5px;
    padding: 3px 10px;
  }
  .flex-project-skills-project1 {
    gap: 0.1rem;
  }
  .holder-project-skills-project2 {
    gap: 0.1rem;
  }
  .holder-project-skills-project3 {
    gap: 0.1rem;
  }
  .holder-project-skills {
    gap: 0.1rem;
  }
  .onair {
    min-width: 30px;
    height: 30px;
  }
  .checked {
    min-width: 30px;
    height: 30px;
  }
  .holder-bottom1 {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media (max-width: 420px){
  .copyright {
    padding-left: 0.5rem;
  }
  .holder-bottom2 {
    padding-right: 3rem;
  }
  .bottom-github {
    width: 0.8rem;
    height: 0.8rem;
  }
  .bottom-indeed {
    width: 0.8rem;
    height: 0.8rem;
  }
  .bottom-linkedin {
    width: 0.8rem;
    height: 0.8rem;
  }
}
@media (max-width: 400px){
  .top-menu {
    left: 11%;
  }
  .about-title {
    margin-bottom: 0;
  }
  .hi {
    font-size: 0.7rem;
  }
  .about-title-myname {
    font-size: 1rem;
  }
  .myface {
    width: 10rem;
    height: 7rem;
  }
  .about-beyond-flex {
    padding-left: 0;
  }
  .about-beyond-holder {
    margin-bottom: 10rem;
  }
  .html {
    width: 18px;
    height: 18px;
  }
  .css {
    width: 18px;
    height: 18px;
  }
  .java {
    width: 18px;
    height: 18px;
  }
  .react {
    width: 18px;
    height: 18px;
  }
  .node {
    width: 18px;
    height: 18px;
  }
  .express {
    width: 18px;
    height: 18px;
  }
  .mongodb {
    width: 18px;
    height: 18px;
  }
  .render {
    width: 18px;
    height: 18px;
  }
  .restapi {
    width: 18px;
    height: 18px;
  }
  .router {
    width: 18px;
    height: 18px;
  }
  .jwt {
    width: 18px;
    height: 18px;
  }
  .vs {
    width: 18px;
    height: 18px;
  }
  .git {
    width: 18px;
    height: 18px;
  }
  .github {
    width: 18px;
    height: 18px;
  }
  .netlify {
    width: 18px;
    height: 18px;
  }
  .bootstrap {
    width: 18px;
    height: 18px;
  }
  .holder-icon {
    width: 37px;
    height: 38px;
  }
  .title-icon {
    font-size: 0.4rem;
  }
  .about-title-techstacks {
    width: 100px;
  }
  .holder-frontend-icons {
    width: 129px;
    grid-template-columns: 64px 64px;
    grid-template-rows: 64px 64px;
  }
  .holder-backend-icons {
    width: 203px;
    grid-template-columns: 62px 62px 62px;
    grid-template-rows: 62px 62px;
  }
  .about-holder-techtools {
    margin-top: 8rem;
  }
  .holder-techAndTools-icons {
    width: 207px;
    grid-template-columns: 62px 62px 62px;
    grid-template-rows: 62px 62px;
  }
  .picture-project1 {
    max-width: 16rem;
    min-width: 16rem;
    max-height: 11rem;
  }
  .picture-project2 {
    max-width: 16rem;
    min-width: 16rem;
    max-height: 11rem;
  }
  .picture-project3 {
    max-width: 16rem;
    min-width: 16rem;
    max-height: 11rem;
  }
  .picture-project4 {
    max-width: 16rem;
    min-width: 16rem;
    max-height: 11rem;
  }
  .picture-project5 {
    max-width: 16rem;
    min-width: 16rem;
    max-height: 11rem;
  }
}
@media (max-width: 370px){
  .top-menu {
    left: 9%;
  }
}
@media (max-width: 350px){
  .top-menu {
    left: 6%;
  }
}